# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.gradle/5.2.1/vcsMetadata-1/
build/generated/
build/tmp/
src/main/resources/
src/test/
